<%- include('header') -%>

<h1>This is abput page</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, nemo in enim mollitia fugit quas aut eligendi magnam a nobis architecto suscipit quidem ratione, doloremque odio omnis non fugiat sed pariatur eaque? Officiis, libero.</p>

<%- include('footer') -%>